.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    color: cadetblue;
    font-size: 1.40rem;
    font-weight: bold;
}

.img--card__watch {
    object-fit: cover;
}
