.footer {
    height: auto;
    width: 100%;
    background-color: cadetblue;
    padding: 20px;
}

.icons {
    padding-bottom: 34px;
}

ion-icon {
    font-size: 40px;
}

.logo {
    height: 150px;
    width: 150px;
    padding: 10px;
}